[Unit]
Description=rescan USB devices on M3A motherboard
After=systemd-user-sessions.service

[Service]
ExecStart=/bin/bash -c "while true; do sleep 8; lsusb -v 1> /dev/null; done"
Restart=always
User=root
Type=simple

[Install]
WantedBy=multi-user.target
